

/* */
/*===================================================================================*/
/*  Body
/*===================================================================================*/
.green-text {
  color: #abd07e !important;
}
.green-text:hover {
  background-color: #abd07e !important;
  color: #fff !important;
}
.blue-text {
  color: #3498db !important;
}
.blue-text:hover {
  background-color: #3498db !important;
  color: #fff !important;
}
.red-text {
  color: #ff6c6c !important;
}
.red-text:hover {
  background-color: #ff6c6c !important;
  color: #fff !important;
}
.orange-text {
  color: #f39c12 !important;
}
.orange-text:hover {
  background-color: #f39c12 !important;
  color: #fff !important;
}
.dark-green-text {
  color: #12cca7 !important;
}
.dark-green-text:hover {
  background-color: #12cca7 !important;
  color: #fff !important;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
ul {
  list-style: none;
}
a {
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
body {
  font-size: 13px;
  color: #333;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
}

.cnt-home {background-color: #f3f3f3;}

ul {
  margin: 0;
  padding: 0;
}
a {
  outline: none!important;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
/* img[src="sharedImages/images/blank.gif"] {
  background: url("../images/ajax.gif") no-repeat scroll center center #ffffff;
} */

.btn-upper {
  text-transform: uppercase;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-10 {
  margin-top: 10px;
}

/*===================================================================================*/
/*  Buttons
/*===================================================================================*/

.btn-uppercase {
  text-transform: uppercase;
}
.btn-default {
  background: #cbc9c9;
  color: #fff;
  font-weight: 700;
  /*line-height:30px;*/
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.btn-primary {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  background: #0188cc;
  color: #fff;
  border: none;
  font-size: 13px;
  line-height: 22px;
  border-radius:0;
  padding: 6px 14px;
  font-family: 'Montserrat', sans-serif;
  border-radius:2px

}
.btn-black {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  background: #3a3a3a;
  color: #fff;
  border: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  padding: 3px 22px;
}
.btn-primary:hover,
.btn-black:hover,
.btn-black:focus,
.btn-primary:focus {
  color: #fff;
}


/*===================================================================================*/
/*  Layout
/*===================================================================================*/

.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a:hover,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a:focus {
  color: #12cca7;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info span span {
  color: #0b816a;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a:hover,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a:focus {
  color: #12cca7;
}
.shopping-cart .cart-shopping-total table thead tr th .cart-grand-total {
  color: #0b816a;
}
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow:hover,
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow:focus {
  color: #12cca7;
}
.logo-color {
  fill: #12cca7;
}

.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:hover,
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:focus {
  color: #12cca7;
}

.body-content .x-page .x-text h1 {
  color: #12cca7;
}
.body-content .x-page .x-text a {
  color: #12cca7;
}



/*===================================================================================*/
/*  Home Tabs
/*===================================================================================*/


.cart {
  margin-top: 5px;
  opacity: 1;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  width: 100%;
  z-index: 666;
  left: 0px;


}
.cart .action {
  float: left;
}
.cart .action .add-cart-button .btn.btn-primary.icon {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background: #fdd922 ;
  color:#333
}

.cart .action.lnk {
  margin: 10px 0px;
}
.cart .action.lnk a {
  padding: 0 10px;
  color: #dadada;
}
.cart .action.lnk.wishlist {
  border-right: 1px solid #dadada;
}

/*===================================================================================*/
/*  Responsive Layout
/*===================================================================================*/


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

  .body-content .sidebar {
    margin-bottom: 30px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

  .shopping-cart .estimate-ship-tax table thead tr th .estimate-title {
    font-size: 16px !important;
  }
  .shopping-cart .cart-shopping-total table thead tr th .cart-sub-total,
  .shopping-cart .cart-shopping-total table thead tr th .cart-grand-total {
    font-size: 16px !important;
  }
}
/* Large devices (large desktops, 1200px and up) */



/*===================================================================================*/
/*  Shopping Cart
/*===================================================================================*/

.shopping-cart {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    padding: 20px;
	overflow:hidden
}

.shopping-cart .shopping-cart-table {
  margin-bottom: 50px;
}
.shopping-cart .shopping-cart-table table {
  margin-bottom: 0px !important;
}
.shopping-cart .shopping-cart-table table tbody tr td {
  vertical-align: middle;
}

.shopping-cart .cart-image img {
 width:150px
}

.cart-shopping-total {background:#f8f8f8}

.shopping-cart .shopping-cart-table table tbody tr .romove-item a {
  font-size: 18px;
  color: #666666;
}
.shopping-cart .shopping-cart-table table tbody tr .romove-item a:hover,
.shopping-cart .shopping-cart-table table tbody tr .romove-item a:focus {
  color: #ff000 !important;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-image .entry-thumbnail {
  display: block;
  text-align: center;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info {
  vertical-align: middle !important;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a {
  color: #555;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .reviews {
  font-size: 11px;
  color: #aaa;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info {
  margin-top: 10px;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info span {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #666666;
  text-transform: uppercase;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info span span {
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  margin-left: 14px;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a {
  color: #666666;
  text-decoration: underline;
}
.shopping-cart .shopping-cart-table .table > thead > tr > th {
  text-align: center;
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.shopping-cart .shopping-cart-table .shopping-cart-btn span {
  padding: 20px 0px;
  display: block;
}
.shopping-cart .estimate-ship-tax table thead tr th .estimate-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #555;
  margin-bottom: 2px;
  margin-top: 0px;
  display: block;
}
.shopping-cart .estimate-ship-tax table thead tr th p {
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-size: 13px;
  color: #666666;
  font-weight: normal;
  margin-bottom: 0px;
}
.shopping-cart .estimate-ship-tax table thead tr > th {
  padding: 24px 10px 20px 10px;
}
.shopping-cart .estimate-ship-tax table tbody tr > td {
  padding: 24px 10px !important;
}
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .selectpicker {
  background: #fff;
  color: #999;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #eee;
}
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:hover,
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:focus {
  background: rgba(0, 0, 0, 0);
}
.shopping-cart .cart-shopping-total table thead tr th {
  background-color: #fafafa;
  text-align: right;
  padding: 24px 50px;

}
.shopping-cart .cart-shopping-total table thead tr th .cart-sub-total {
  color: #555;
  margin-bottom: 7px;
}
.shopping-cart .cart-shopping-total table tbody tr td {
  padding: 24px 50px;
}
.shopping-cart .cart-shopping-total table tbody tr td .cart-checkout-btn button {
  float: right !important;
  margin-bottom: 8px;
}
.shopping-cart .cart-shopping-total table tbody tr td .cart-checkout-btn span {
  display: block;
  font-weight: normal;
  color: #666666;
}
.shopping-cart .shopping-cart-table table tbody tr .romove-item,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-sub-total,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-grand-total,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-quantity {
  text-align: center;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-sub-total span,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-grand-total span {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #555;
  text-transform: uppercase;
}
.shopping-cart .estimate-ship-tax table tbody tr td .form-group label,
.shopping-cart .estimate-ship-tax table tbody tr td .form-group input,
.blog-page .blog-write-comment .form-group label,
.blog-page .blog-write-comment .form-group input,
.contact-page .contact-form form label,
.contact-page .contact-form form input {
  font-size: 13px;
  font-weight: normal;
  color: #999;
}
.shopping-cart .estimate-ship-tax table tbody tr td .form-group label span,
.blog-page .blog-write-comment label span,
.contact-page .contact-form form label span,
.checkout-box .checkout-steps .checkout-step-01 .already-registered-login form .form-group label span {
  color: red;
}
.shopping-cart .cart-shopping-total table thead tr th .cart-sub-total,
.shopping-cart .cart-shopping-total table thead tr th .cart-grand-total {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.shopping-cart-table table tbody tr td .quant-input {
  display: inline-block;
  height: 35px;
  position: relative;
  width: 70px;
}
.shopping-cart-table table tbody tr td .quant-input .arrows {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 40px;
}
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow .ir .icon.fa-sort-asc {
  top: 5px;
}
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow .ir .icon.fa-sort-desc {
  top: -7px;
}
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow .ir .icon {
  position: relative;
}
.shopping-cart-table table tbody tr td .quant-input input {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  left: 0;
  padding: 0 20px 0 18px;
  position: absolute;
  top: 0;
  width: 70px;
  z-index: 1;
}

.checkout-btn { background:#fdd922; color:#333; padding: 10px 18px;}

.body-content .x-page .x-text h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 200px;
  font-weight:bold
}
.body-content .x-page .x-text p {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}
.body-content .x-page .x-text .le-button {
  border-radius: 0 3px 3px 0;
  margin: 0 0 0 -5px;
  padding: 19px 23px 20px;
  font-size: 15px;
  font-weight: bold;
  line-height: 10px;
  border: medium none;
  color: #333;
  background:#fdd922
}
.body-content .x-page .x-text form input {
  border: 1px solid #e0e0e0;
  border-radius: 3px 0 0 3px;
  color: #3d3d3d;
  padding: 13px;
  font-size: 15px;
  width: 40%;
}
.body-content .x-page .x-text a {
  font-size: 15px;
}
.body-content .x-page .x-text a i {
  padding-right: 2px;
}


/*===================================================================================*/
/*  Breadcrumb
/*===================================================================================*/
.breadcrumb {
  background: rgba(0, 0, 0, 0);
  padding: 0;
}
.breadcrumb ul {
 display: inline;
  margin: auto;
  padding:8px 0 0px;
  text-align: left;
}
.breadcrumb ul li:after {
  display: inline;
  color: #666666;
  content: "/";
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-size: 12px;
  line-height: 24px;
  margin.bread-left: 9px;
  margin-right: -4px;
  padding: 0px;
}
.breadcrumb ul li:last-child:after {
  display: inline;
  content: "";
}
.breadcrumb ul li a {
  display: inline;
  color: #666666;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
}
.breadcrumb li {
  display: inline;
  padding-left: 7px;
}
.breadcrumb ul li.active {
  color: #0b816a;
}
.breadcrumb ul a:hover,
.breadcrumb ul a:focus {
  color: #0b816a;
}


