<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="#">Home</a></li>
				<li class='active'>Login</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
	<div class="container">
		<div class="sign-in-page">
			<div class="row">
				<!-- Sign-in -->
<div class="col-md-6 col-sm-6 sign-in">
	<h4 class="">Sign in</h4>
	<p class="">Hello, Welcome to your account.</p>
	<div class="social-sign-in outer-top-xs">
		<a href="#" class="facebook-sign-in"><i class="fa fa-facebook"></i> Sign In with Facebook</a>
		<a href="#" class="twitter-sign-in"><i class="fa fa-twitter"></i> Sign In with Twitter</a>
	</div>
	<form class="register-form outer-top-xs" role="form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

    <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
      <span style="text-align: center;">Email or password do not match! </span>
    </div>

    <div class="form-group">
      <label class="info-title" for="exampleInputEmail1">Email Address <span>*</span></label>
      <input type="email" formControlName="email" [class.is-invalid]="loginEmail.invalid && loginEmail.touched" class="form-control unicase-form-control text-input" id="exampleInputEmail1" >
      <div *ngIf="loginEmail.invalid && loginEmail.touched">
        <small class="text-danger" *ngIf="loginEmail.errors.required">Email is required</small>
        <small class="text-danger" *ngIf="loginEmail.errors.email">Email format not correct.</small>
      </div>
    </div>

    <div class="form-group">
      <label class="info-title" for="exampleInputPassword1">Password <span>*</span></label>
      <input type="password" formControlName="password" [class.is-invalid]="loginPassword.invalid && loginPassword.touched" class="form-control unicase-form-control text-input" id="exampleInputPassword1">
      <div *ngIf="loginPassword.invalid && loginPassword.touched">
        <small class="text-danger" *ngIf="loginPassword.errors.required">Password is required</small>
        <small class="text-danger" *ngIf="loginPassword.errors.minlength">Password length should be minimum 6.</small>
      </div>
  </div>

		<div class="radio outer-xs">

		  	<a href="#" class="forgot-password pull-right">Forgot your Password?</a>
		</div>
	  	<button [disabled]="!loginForm.valid" type="submit" class="btn-upper btn btn-primary checkout-page-button">Login</button>
	</form>
</div>
<!-- Sign-in -->

<!-- create a new account -->
<div class="col-md-6 col-sm-6 create-new-account">
	<h4 class="checkout-subtitle">Create a new account</h4>
	<p class="text title-tag-line">Create your new account.</p>
	<form class="register-form outer-top-xs" role="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <div class="alert alert-success" role="alert" *ngIf="showMsg">
      <span style="text-align: center;">Registration Successful! </span>
    </div>

    <div class="form-group">
		    <label class="info-title" for="exampleInputEmail1">Name <span>*</span></label>
        <input type="text" formControlName="name" [class.is-invalid]="name.invalid && name.touched" class="form-control unicase-form-control text-input" id="exampleInputEmail1" >
        <div *ngIf="name.invalid && name.touched">
          <small class="text-danger" *ngIf="name.errors.required">Name is required</small>
          <small class="text-danger" *ngIf="name.errors.minlength">Name length should be of minimum 3.</small>
        </div>
    </div>

    <div class="form-group">
      <label class="info-title" for="exampleInputEmail2">Email Address <span>*</span></label>
      <input type="email" formControlName="email" [class.is-invalid]="email.invalid && email.touched" class="form-control unicase-form-control text-input" id="exampleInputEmail2" >
      <div *ngIf="email.invalid && email.touched">
        <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
        <small class="text-danger" *ngIf="email.errors.email">Email format not correct.</small>
      </div>
      <small class="text-danger" [hidden]="!error.email">{{ error.email }}</small>
    </div>

        <div class="form-group">
		    <label class="info-title" for="exampleInputEmail1">Phone Number <span>*</span></label>
        <input type="tel" formControlName="phone" [class.is-invalid]="phone.invalid && phone.touched" pattern="^\d{10}$" class="form-control unicase-form-control text-input" id="exampleInputEmail1" >
        <div *ngIf="phone.invalid && phone.touched">
          <small class="text-danger" *ngIf="phone.errors.required">Phone is required</small>
          <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits.</small>
        </div>
        <small class="text-danger" [hidden]="!error.phone">{{ error.phone }}</small>
		</div>
        <div class="form-group">
		    <label class="info-title" for="exampleInputEmail1">Password <span>*</span></label>
        <input type="password" formControlName="password" [class.is-invalid]="password.invalid && password.touched" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
        <div *ngIf="password.invalid && password.touched">
          <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
          <small class="text-danger" *ngIf="password.errors.minlength">Password length should be minimum 6.</small>
        </div>
        <small class="text-danger" [hidden]="!error.password">{{ error.password }}</small>
		</div>
         <div class="form-group">
		    <label class="info-title" for="exampleInputEmail1">Confirm Password <span>*</span></label>
        <input type="password" formControlName="password_confirmation" [class.is-invalid]="registrationForm.errors?.misMatch" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
        <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords do not match.</small>

		</div>
	  	<button [disabled]="!registrationForm.valid" type="submit" class="btn-upper btn btn-primary checkout-page-button">Sign Up</button>
  </form>

</div>
<!-- create a new account -->			</div><!-- /.row -->
    </div><!-- /.sigin-in-->
  </div>
</div>
