/*===================================================================================*/
/*  Breadcrumb
/*===================================================================================*/
.breadcrumb {
  background: rgba(0, 0, 0, 0);
  padding: 0;
}
.breadcrumb ul {
 display: inline;
  margin: auto;
  padding:8px 0 0px;
  text-align: left;
}
.breadcrumb ul li:after {
  display: inline;
  color: #666666;
  content: "/";
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-size: 12px;
  line-height: 24px;
  margin.bread-left: 9px;
  margin-right: -4px;
  padding: 0px;
}
.breadcrumb ul li:last-child:after {
  display: inline;
  content: "";
}
.breadcrumb ul li a {
  display: inline;
  color: #666666;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
}
.breadcrumb li {
  display: inline;
  padding-left: 7px;
}
.breadcrumb ul li.active {
  color: #0b816a;
}
.breadcrumb ul a:hover,
.breadcrumb ul a:focus {
  color: #0b816a;
}



/*===================================================================================*/
/*  Signup and login
/*===================================================================================*/

.sign-in-page {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  padding: 20px;
  overflow: hidden;
}

.body-content .sign-in-page .sign-in h4,
.body-content .sign-in-page .create-new-account h4 {
font-size:18px;
font-family: 'Open Sans', sans-serif;
padding-bottom: 14px;
border-bottom: 1px solid #ddd;

}
.body-content .sign-in-page .sign-in p,
.body-content .sign-in-page .create-new-account p {
font-size: 15px;
color: #666;
}
.body-content .sign-in-page .sign-in .social-sign-in a,
.body-content .sign-in-page .sign-in .social-sign-in a:hover,
.body-content .sign-in-page .sign-in .social-sign-in a:focus {
border-radius: 3px;
padding: 14px 30px;
font-size: 15px;
display: inline-block;
color: #fff;
text-align: center;
}
.body-content .sign-in-page .sign-in .social-sign-in a i {
padding-right: 6px;
}
.body-content .sign-in-page .sign-in .social-sign-in .facebook-sign-in {
background-color: #3d5c98;
margin-right: 10px;
}
.body-content .sign-in-page .sign-in .social-sign-in .facebook-sign-in:hover,
.body-content .sign-in-page .sign-in .social-sign-in .facebook-sign-in:focus {
background-color: #153470;
}
.body-content .sign-in-page .sign-in .social-sign-in .twitter-sign-in {
background-color: #22aadf;
}
.body-content .sign-in-page .sign-in .social-sign-in .twitter-sign-in:hover,
.body-content .sign-in-page .sign-in .social-sign-in .twitter-sign-in:focus {
background-color: #0084B9;
}
.body-content .sign-in-page .create-new-account > span {
font-size: 20px;
font-family: 'Open Sans', sans-serif;
padding-bottom: 14px;
text-transform: uppercase;
display: inline-block;
}
.body-content .sign-in-page .create-new-account .checkbox label {
margin-bottom: 10px;
font-size: 16px;
}
.body-content .sign-in-page form .form-group span {
color: red;
}
.body-content .sign-in-page .register-form label {
font-size: 14px;
font-weight: 400;
}
.body-content .sign-in-page .register-form .form-group {
margin-bottom: 25px;
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -5px;

}
.tooltip-inner {
font-family: 'Open Sans', sans-serif;
border-radius:2px;
min-width:70px;
z-index:10000


}
