<div class="body-content">
  <div class="container">

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg float-right" data-toggle="modal" data-target="#myModal" (click)="showModal=true">Add Address</button>

    <h2>My Addresses</h2>

    <div class="my-wishlist-page">

      <div class="row">

        <div class="col-md-12 my-wishlist">

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="heading-title">Street Address</th>
                  <th class="heading-title">Landmark</th>
                  <th class="heading-title">City</th>
                  <th class="heading-title">Pincode</th>
                  <th class="heading-title">State</th>
                  <th class="heading-title">Country</th>
                </tr>
              </thead>
              <tbody>

                  <tr *ngFor="let address of addresses.data">
                    <td class="col-md-3">{{ address.name | titlecase }}</td>
                    <td class="col-md-2">{{ address.landmark }}</td>
                    <td class="col-md-2">{{ address.city }}</td>
                    <td class="col-md-2">{{ address.pincode }}</td>
                    <td class="col-md-2">{{ address.state }}</td>
                    <td class="col-md-2">{{ address.country }}</td>
                    <td class="col-md-2 close-btn">
                      <a href="#" (click)="editAddress($event, address.id)" class=""><i class="fa fa-edit"></i></a>
                      <a href="#" (click)="removeAddress($event, address.id)" class=""><i class="fa fa-times"></i></a>
                    </td>
                  </tr>

              </tbody>

              <!-- <ng-template #emptyWishlist>
                <tbody >
                  <tr>
                    <td style="text-align: center; font-size: 40px;"> Empty Wishlist
                      <br>
                      <span style="font-size: 20px;">You have no items in your wishlist. Start adding!</span>
                    </td>
                  </tr>
                </tbody>
              </ng-template> -->



            </table>
          </div>

        </div>
        </div><!-- /.row -->
    </div><!-- /.my-wishlist-page-->

  </div>
</div>


<!-- Add Address Modal -->
<div id="myModal" class="modal fade" role="dialog" [ngClass]="{'show': showModal}">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Address</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showModal=false">&times;</button>
      </div>

      <div class="modal-body">

        <form class="register-form outer-top-xs" role="form" [formGroup]="addAddressForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
              <label class="info-title" for="exampleInputEmail1">Street Address <span>*</span></label>
              <input type="text" formControlName="name" [class.is-invalid]="name.invalid && name.touched" class="form-control unicase-form-control text-input" id="exampleInputEmail1" >
              <div *ngIf="name.invalid && name.touched">
                <small class="text-danger" *ngIf="name.errors.required">Street address is required</small>
                <small class="text-danger" *ngIf="name.errors.minlength">Street address length should be of minimum 3.</small>
              </div>
                <small class="text-danger" [hidden]="!error.name">{{ error.name }}</small>
          </div>

          <div class="form-group">
            <label class="info-title" for="exampleInputEmail2">Landmark <span>*</span></label>
            <input type="email" formControlName="landmark" [class.is-invalid]="landmark.invalid && landmark.touched" class="form-control unicase-form-control text-input" id="exampleInputEmail2" >
            <div *ngIf="landmark.invalid && landmark.touched">
              <small class="text-danger" *ngIf="landmark.errors.required">Landmark is required</small>
              <small class="text-danger" *ngIf="landmark.errors.minlength">Landmark length should be of minimum 3.</small>
            </div>
              <small class="text-danger" [hidden]="!error.landmark">{{ error.landmark }}</small>
          </div>

          <div class="form-group">
            <label class="info-title" for="exampleInputEmail1">City <span>*</span></label>
            <input type="tel" formControlName="city" [class.is-invalid]="city.invalid && city.touched" class="form-control unicase-form-control text-input" id="exampleInputEmail1" >
            <div *ngIf="city.invalid && city.touched">
              <small class="text-danger" *ngIf="city.errors.required">City is required</small>
              <small class="text-danger" *ngIf="city.errors.minlength">City length should be of minimum 3.</small>
            </div>
              <small class="text-danger" [hidden]="!error.city">{{ error.city }}</small>
          </div>

          <div class="form-group">
            <label class="info-title" for="exampleInputEmail1">Pincode <span>*</span></label>
            <input type="text" formControlName="pincode" [class.is-invalid]="pincode.invalid && pincode.touched"  class="form-control unicase-form-control text-input" id="exampleInputEmail1">
            <div *ngIf="pincode.invalid && pincode.touched">
              <small class="text-danger" *ngIf="pincode.errors.required">Pincode is required</small>
              <small class="text-danger" *ngIf="pincode.errors.minlength">Pincode length should be of minimum 6.</small>
            </div>
              <small class="text-danger" [hidden]="!error.pincode">{{ error.pincode }}</small>
          </div>

          <div class="form-group">
            <label class="info-title" for="exampleInputEmail1">State <span>*</span></label>
            <input type="text" formControlName="state" [class.is-invalid]="state.invalid && state.touched"  class="form-control unicase-form-control text-input" id="exampleInputEmail1">
            <div *ngIf="state.invalid && state.touched">
              <small class="text-danger" *ngIf="state.errors.required">State is required</small>
              <small class="text-danger" *ngIf="state.errors.minlength">State length should be of minimum 3.</small>
            </div>
              <small class="text-danger" [hidden]="!error.state">{{ error.state }}</small>
          </div>

          <div class="form-group">
            <label class="info-title" for="exampleInputEmail1">Country <span>*</span></label>
            <input type="text" formControlName="country" [class.is-invalid]="country.invalid && country.touched"  class="form-control unicase-form-control text-input" id="exampleInputEmail1">
            <div *ngIf="country.invalid && country.touched">
              <small class="text-danger" *ngIf="country.errors.required">Country is required</small>
              <small class="text-danger" *ngIf="country.errors.minlength">Country length should be of minimum 3.</small>
            </div>
              <small class="text-danger" [hidden]="!error.country">{{ error.country }}</small>
          </div>
            <button type="submit" [disabled]="!addAddressForm.valid" class="btn-upper btn btn-primary checkout-page-button">Submit</button>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn-upper btn btn-primary" data-dismiss="modal" (click)="showModal=false">Close</button>
      </div>
    </div>

  </div>
</div>
 <!-- Add Address Modal Ends -->

 <!-- Edit Address Modal -->
 <div id="myeditModal" class="modal fade" role="dialog" [ngClass]="{'show': showeditModal}">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Address</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showeditModal=false">&times;</button>
      </div>

      <div class="modal-body">

        <form class="register-form outer-top-xs" role="form" [formGroup]="editAddressForm" (ngSubmit)="onUpdateSubmit()">
          <input type="hidden" formControlName="id">
          <div class="form-group">
              <label class="info-title" for="exampleInputEmail1">Street Address <span>*</span></label>
              <input type="text" formControlName="name" [class.is-invalid]="editName.invalid && editName.touched" class="form-control unicase-form-control text-input" id="exampleInputEmail1" >
              <div *ngIf="editName.invalid && editName.touched">
                <small class="text-danger" *ngIf="editName.errors.required">Street address is required</small>
                <small class="text-danger" *ngIf="editName.errors.minlength">Street address length should be of minimum 3.</small>
              </div>
              <small class="text-danger" [hidden]="!errorUpdate.name">{{ errorUpdate.name }}</small>
          </div>

          <div class="form-group">
            <label class="info-title" for="exampleInputEmail2">Landmark <span>*</span></label>
            <input type="email" formControlName="landmark" [class.is-invalid]="editLandmark.invalid && editLandmark.touched" class="form-control unicase-form-control text-input" id="exampleInputEmail2" >
            <div *ngIf="editLandmark.invalid && editLandmark.touched">
              <small class="text-danger" *ngIf="editLandmark.errors.required">Landmark is required</small>
              <small class="text-danger" *ngIf="editLandmark.errors.minlength">Landmark length should be of minimum 3.</small>
            </div>
            <small class="text-danger" [hidden]="!errorUpdate.landmark">{{ errorUpdate.landmark }}</small>
          </div>

          <div class="form-group">
            <label class="info-title" for="exampleInputEmail1">City <span>*</span></label>
            <input type="tel" formControlName="city" [class.is-invalid]="editCity.invalid && editCity.touched" class="form-control unicase-form-control text-input" id="exampleInputEmail1" >
            <div *ngIf="editCity.invalid && editCity.touched">
              <small class="text-danger" *ngIf="editCity.errors.required">City is required</small>
              <small class="text-danger" *ngIf="editCity.errors.minlength">City length should be of minimum 3.</small>
            </div>
            <small class="text-danger" [hidden]="!errorUpdate.city">{{ errorUpdate.city }}</small>
          </div>

          <div class="form-group">
            <label class="info-title" for="exampleInputEmail1">Pincode <span>*</span></label>
            <input type="text" formControlName="pincode" [class.is-invalid]="editPincode.invalid && editPincode.touched"  class="form-control unicase-form-control text-input" id="exampleInputEmail1">
            <div *ngIf="editPincode.invalid && editPincode.touched">
              <small class="text-danger" *ngIf="editPincode.errors.required">Pincode is required</small>
              <small class="text-danger" *ngIf="editPincode.errors.minlength">Pincode length should be of minimum 6.</small>
            </div>
            <small class="text-danger" [hidden]="!errorUpdate.pincode">{{ errorUpdate.pincode }}</small>
          </div>

          <div class="form-group">
            <label class="info-title" for="exampleInputEmail1">State <span>*</span></label>
            <input type="text" formControlName="state" [class.is-invalid]="editState.invalid && editState.touched"  class="form-control unicase-form-control text-input" id="exampleInputEmail1">
            <div *ngIf="editState.invalid && editState.touched">
              <small class="text-danger" *ngIf="editState.errors.required">State is required</small>
              <small class="text-danger" *ngIf="editState.errors.minlength">State length should be of minimum 3.</small>
            </div>
            <small class="text-danger" [hidden]="!errorUpdate.state">{{ errorUpdate.state }}</small>
          </div>

          <div class="form-group">
            <label class="info-title" for="exampleInputEmail1">Country <span>*</span></label>
            <input type="text" formControlName="country" [class.is-invalid]="editCountry.invalid && editCountry.touched"  class="form-control unicase-form-control text-input" id="exampleInputEmail1">
            <div *ngIf="editCountry.invalid && editCountry.touched">
              <small class="text-danger" *ngIf="editCountry.errors.required">Country is required</small>
              <small class="text-danger" *ngIf="editCountry.errors.minlength">Country length should be of minimum 3.</small>
            </div>
            <small class="text-danger" [hidden]="!errorUpdate.country">{{ errorUpdate.country }}</small>
          </div>
            <button type="submit" [disabled]="!editAddressForm.valid" class="btn-upper btn btn-primary checkout-page-button">Update</button>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn-upper btn btn-primary" data-dismiss="modal" (click)="showeditModal=false">Close</button>
      </div>
    </div>

  </div>
</div>
 <!-- Edit Address Modal Ends -->
